In [1]:
#let's import the packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [41]:
#loading the data and understanding it
dat = pd.read_csv('day.csv')

In [42]:
dat.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [43]:
dat['season'].value_counts()

3    188
2    184
1    181
4    178
Name: season, dtype: int64

In [44]:
dat = dat.drop('dteday',axis=1)

In [45]:
dat = dat.drop('instant',axis=1)

In [46]:
dat.columns

Index(['season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday',
       'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'casual',
       'registered', 'cnt'],
      dtype='object')

In [47]:
#according to the data I think temp is the dependent variable

In [48]:
from sklearn.linear_model import LinearRegression

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
x = dat.drop('temp',axis=1)
x.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,atemp,hum,windspeed,casual,registered,cnt
0,1,0,1,0,6,0,2,0.363625,0.805833,0.160446,331,654,985
1,1,0,1,0,0,0,2,0.353739,0.696087,0.248539,131,670,801
2,1,0,1,0,1,1,1,0.189405,0.437273,0.248309,120,1229,1349
3,1,0,1,0,2,1,1,0.212122,0.590435,0.160296,108,1454,1562
4,1,0,1,0,3,1,1,0.229270,0.436957,0.186900,82,1518,1600

In [51]:
y = dat['temp']

In [52]:
y.head()

0    0.344167
1    0.363478
2    0.196364
3    0.200000
4    0.226957
Name: temp, dtype: float64

In [53]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [54]:
x_train.shape, x_test.shape, y_train.shape,y_test.shape

((584, 13), (147, 13), (584,), (147,))

In [55]:
reg = LinearRegression()

In [56]:
reg.fit(x_train , y_train)

LinearRegression()

In [57]:
reg.coef_

array([-5.49927268e-04, -1.33075078e-03,  1.39474545e-04,  7.57366511e-03,
        4.76818314e-04,  4.69045356e-03,  1.92038388e-03,  1.10747608e+00,
       -7.97660273e-03,  6.30514115e-02,  2.94027481e-06, -1.30485592e-06,
        1.63541778e-06])

In [58]:
reg.intercept_

-0.04827067052613443

In [59]:
y_predict = reg.predict(x_test)

In [60]:
from sklearn.metrics import r2_score

In [61]:
# the model accurracy here is 99.4% 
print(f'the accurracy of the model is: {r2_score(y_test,y_predict)}')

the accurracy of the model is: 0.9942288473502907

In [63]:
# the loss will be 
print(f'the accurracy of the model is: {1 - r2_score(y_test,y_predict)}')

the accurracy of the model is: 0.005771152649709288

In [64]:
x_train.columns

Index(['season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday',
       'weathersit', 'atemp', 'hum', 'windspeed', 'casual', 'registered',
       'cnt'],
      dtype='object')

In [66]:
# lets predict with the real time values
reg.predict([[1,365,2,0,1,0,2,0.36,0.812,0.160446,82,652,108]])

C:\Users\vridhi\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([-0.1280504])

In [67]:
# checking the training data 
train_y_predict = reg.predict(x_train)

In [68]:
#checking the accurracy of training data
print(f'The train data accurracy is : {r2_score(y_train,train_y_predict)}')

The train data accurracy is : 0.9815395139593731